# set to false if you don't care to include android stuff
export use_android=true
export android_emulator=false
export ANDROID_DIR=crates/notedeck_chrome/android

use nix --arg use_android $use_android --arg android_emulator $android_emulator

# you can put secret keys in here
source .privenv || :

# macos codesigning secrets
source scripts/macos_build_secrets.sh || :

export PATH=$PATH:$HOME/.cargo/bin
export JB55=32e1827635450ebb3c5a7d12c1f8e7b2b514439ac10a67eef3d9fd9c5c68e245

export OLLAMA_HOST=http://ollama.jb55.com

# simple todo reminders
export TODO_FILE=TODO
2>/dev/null todo.sh ls || :
