.DS_Store
.buildcmd
TODO.bak
android-config.json
build.log
perf.data
rusty-tags.vi
notedeck-settings
perf.data.old
crates/notedeck_chrome/android/app/build
.privenv
*.so
*.swp
*.jar
target
.gradle
queries/damus-notifs.json
.git
cache
/dist
/packages
.direnv/
src/camera.rs
scripts/macos_build_secrets.sh
*.patch
*.txt
/tags
*.mdb
.idea/
