.DS_Store
.buildcmd
TODO.bak
android-config.json
build.log
rusty-tags.vi
crates/notedeck_chrome/android/app/build
.privenv
*.so
*.swp
*.jar
target
.gradle
queries/damus-notifs.json
.git
cache
/dist
/packages
.direnv/
scripts/macos_build_secrets.sh
/tags
