name: svgtypes

on: [push, pull_request]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        rust:
          - 1.65.0
          - stable
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Test
      run: cargo test
